<footer class="classic-footer">
    <div class="container-fluid">
        <!--<div class="row">-->

            <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">-->

                <!--<div class="footer-content-box">-->
                    <!--<h3 class="gold-text t-title footer-content-box-title">Proin eu posuere felis</h3>-->
                    <!--<div class="gray-bg">-->
                        <!--<p>Classic is free HTML CSS website template provided by templatemo for everyone. Feel free to use it.</p>-->
                        <!--<p>Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra.</p>-->
                        <!--<p><strong>Danny Egg (Executive)</strong></p>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">-->
                <!--<div class="footer-content-box footer-links-container">-->

                    <!--<h3 class="gold-text t-title footer-content-box-title">Nulla tortor dolor</h3>-->
                    <!--<nav>-->
                        <!--<ul class="nav">-->
                            <!--<li><a href="#" class="footer-link">Tincidunt non faucibus</a></li>-->
                            <!--<li><a href="#" class="footer-link">Vestibulum tempor</a></li>-->
                            <!--<li><a href="#" class="footer-link">Fusce non turpis euismod</a></li>-->
                            <!--<li><a href="#" class="footer-link">Lorem ipsum dolor sit</a></li>-->
                            <!--<li><a href="#" class="footer-link">Nam in augue consectetur</a></li>-->
                            <!--<li><a href="#" class="footer-link">Text Link Color #CCCC66</a></li>-->
                        <!--</ul>-->
                    <!--</nav>-->

                <!--</div>-->

            <!--</div>-->

            <!--&lt;!&ndash; Add the extra clearfix for only the required viewport-->
                <!--http://stackoverflow.com/questions/24590222/bootstrap-3-grid-with-different-height-in-each-item-is-it-solvable-using-only-->
            <!--&ndash;&gt;-->
            <!--<div class="clearfix hidden-lg-up"></div>-->

            <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">-->

                <!--<div class="footer-content-box">-->

                    <!--<h3 class="gold-text t-title footer-content-box-title">Etiam mollis ornare</h3>-->
                    <!--<p class="margin-b-30">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra.</p><hr class="tm-margin-b-30">-->
                    <!--<p class="margin-b-30">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra.</p><hr class="tm-margin-b-30">-->
                    <!--<p class="margin-b-30">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra.</p>-->
                    <!--<a href="#" class="gold-btn gray-btn text-uppercase">Read More</a>-->

                <!--</div>-->

            <!--</div>-->

            <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">-->

                <!--<div class="footer-content-box">-->

                    <!--<h3 class="gold-text t-title footer-content-box-title">Fusce non turpis</h3>-->
                    <!--<div class="margin-b-30">-->
                        <!--<img src="img/tm-img-100x100-1.jpg" alt="Image" class="footer-thumbnail">-->
                        <!--<img src="img/tm-img-100x100-2.jpg" alt="Image" class="footer-thumbnail">-->
                        <!--<img src="img/tm-img-100x100-3.jpg" alt="Image" class="footer-thumbnail">-->
                        <!--<img src="img/tm-img-100x100-4.jpg" alt="Image" class="footer-thumbnail">-->
                        <!--<img src="img/tm-img-100x100-5.jpg" alt="Image" class="footer-thumbnail">-->
                        <!--<img src="img/tm-img-100x100-6.jpg" alt="Image" class="footer-thumbnail">-->
                    <!--</div>-->
                    <!--<p class="margin-b-20">Curabitur dui massa, aliquam quis mi sed, tempor vulputate tellus. Sed vestibulum non neque.</p>-->
                    <!--<a href="#" class="gold-btn gray-btn text-uppercase">Browse</a>-->

                <!--</div>-->

            <!--</div>-->


        <!--</div>-->

        <div class="row">
            <div class="col-xs-12 copyright-col">
                <p class="copyright-text">Copyright 2016 meteran</p>
            </div>
        </div>
    </div>
</footer>