<div class="header">
    <div class="container-fluid">
        <div class="header-inner">
            <a href="/" class="navbar-brand site-name">Starodruki</a>

            <!-- navbar -->
            <nav class="navbar main-nav">

                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#goldNavbar">
                    &#9776;
                </button>

                <div class="collapse navbar-toggleable-sm" id="goldNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item{% if request.resolver_match.url_name == "index" %} active{% endif %}">
                            <a href="{% url "index" %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item{% if request.resolver_match.url_name == "all" %} active{% endif %}">
                            <a href="{% url "prints:all" %}" class="nav-link">Przeglądaj</a>
                        </li>
                        <li class="nav-item{% if request.resolver_match.url_name == "by_name" %} active{% endif %}">
                            <a href="{% url "prints:by_name" %}" class="nav-link">Indeks nazwisk</a>
                        </li>
                        <li class="nav-item{% if request.resolver_match.url_name == "add" %} active{% endif %}">
                            <a href="{% url "prints:add" %}" class="nav-link">Dodaj druki</a>
                        </li>
                        <li class="nav-item{% if request.resolver_match.url_name == "contact" %} active{% endif %}">
                        <a href="{% url "contact" %}" class="nav-link">Kontakt</a>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>
    </div>
</div>
