{% extends "base.html" %}{% load static %}
{% block title %}przeglądaj - starodruki{% endblock %}


{% block content %}
<div class="margin-t-small"></div>
<div class="row">
    <div class="col-md-3 col-sm-4 col-lg-2">
        <form id="filter-form" class="filter-form">
            <h5 class="brown-text t-title">Filtrowanie</h5>

            {{ filter.form.as_p }}

            <!--<button type="submit">Filtruj</button>-->
        </form>
    </div>
    <div class="col-md-9 col-sm-8 col-lg-10">
        <div class="row mix-container"></div>
    </div>
</div>

{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static "/js/mixitup.min.js" %}"></script>

<script>

var current_page = 1;
var job = 0;

var mixer = mixitup('.mix-container', {
    controls: {
        toggleDefault: 'none'
    },
    data: {
        uidKey: 'id'
    },
    render: {
        target: render
    },
    selectors: {
        target: '[data-ref="mix"]'
    }
});

get_prints = function() {
    job = (job + 1) % 65535;
    $.get('/api/v1/prints/' + current_page.toString() + '/?' + $('#filter-form').serialize() + '%26' + 'job=' + job.toString(), function(data) {
        data = eval(data);
        if (data.job === job){
            mixer.dataset(data.data);
        }
    });
}

function render(print) {
    return `
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" data-ref="mix", >
    <div class="content-box">
        <img src="{% static "" %}${print.title_page}" alt="Strona tytułowa" class="margin-b-20 img-fluid fixed-img">
        <h4 class="margin-b-0 brown-text" title="${print.title}">${print.title}</h4>
        <p class="margin-b-0 print-info" title="${print.author_khw}">${print.author_khw}</p>
        <p class="margin-b-20 print-info" title="${print.publication_date}"><i>(${print.publication_date})</i></p>
        <a href="/prints/single/${print.id}" class="brown-btn text-uppercase">Zobacz</a>
        <hr>
    </div>
</div>
`;};

$("#filter-form input").bind('input', function() {
    current_page = 1;
    get_prints();
});

$(document).ready(get_prints);


</script>

{% endblock %}