{% load static %}

{% for letter, print in prints.items %}
{% for path in print %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mix" data-letter="{{ letter }}">
    <div class="content-box">
        <img src="{% static path %}" alt="Image" class="margin-b-20 img-fluid fixed-img">
        <h4 class="margin-b-20 brown-text">Lorem ipsum dolor #1</h4>
        <p class="margin-b-20 print-info">Aenean cursus tellus mauris, quis
        consequat mauris dapibus id. Donec
        scelerisque porttitor pharetra</p>
        <a href="#" class="bown-btn text-uppercase">Zobacz</a>
        <hr>
    </div>
</div>
{% endfor %}
{% endfor %}
