{% extends "base.html" %}{% load static %}
{% block title %}przeglądaj - starodruki{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "gallery/photoswipe.css" %}">
    <link rel="stylesheet" href="{% static "gallery/default-skin/default-skin.css" %}">
{% endblock %}

{% block content %}
<div class="margin-t-small"></div>
<div class="row margin-b-20">
    <div class="col-md-6">
        <h3 class="brown-text print-title">{{ print.title }}</h3>
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-6">
        <button onclick="removingMode()" class="brown-btn">Dodaj</button>
        <button onclick="removingMode()" class="brown-btn">Usuń zaznaczone</button>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="scan-box margin-b-15">
            <div class="thumbnail">
                <img onclick="javascript:showGallery(0);" src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_m.jpg" alt="" />
            </div>
            {% if user.is_authenticated %}
            <input type="checkbox" id="test1" />
            {% endif %}
            <!--<label></label>-->
            <span>1</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <div class="scan-box margin-b-15">
            <div class="thumbnail">
                <img onclick="javascript:showGallery(1);" src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_m.jpg" alt="" />
            </div>
            <input type="checkbox" id="test1" />
            <!--<label></label>-->
            <span>2</span>
        </div>
    </div>
</div>

{% include "photo_swipe_container.html" %}
{% endblock %}

{% block extra_script %}
    <script src="{% static "gallery/photoswipe.min.js" %}"></script>
    <script src="{% static "gallery/photoswipe-ui-default.min.js" %}"></script>

    <script type="text/javascript">
    var pswpElement = document.querySelectorAll('.pswp')[0];
    var items = [
        {
            src: 'https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg',
            w: 1600,
            h: 1600
        },
        {
            src: 'https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg',
            w: 1600,
            h: 1068
        }
    ];

showGallery = function(current_index){
    var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, {index: current_index});
    gallery.init();
}

    </script>
{% endblock %}