{% extends "base.html" %}
{% block title %}info - starodruki{% endblock %}


{% block content %}
<div class="row search-section">
    <!--<div class="col-lg-2 col-md-1"></div>-->
    <div class="col">
        <form action="{% url "prints:collection" %}" method="get" class="search">
                <input type="text" id="search" name="title__contains" placeholder="Szukaj"/>
                <button type="submit">Szukaj</button>
        </form>
    </div>
    <!--<div class="col-lg-2 col-md-1"></div>-->
</div>

{% endblock %}