
html {
    margin:0;
    padding:0;
    height:100%;
}

body {
	color: #8c8c8c;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	overflow-x: hidden;
	position: relative;
    min-height: 100%;

}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

h2 { font-size: 2.2rem; }
.thin-font { font-weight: 300; }

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1390px;
	overflow-x: hidden;
}

@media (max-width: 1390px) {
	.container-fluid {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.header-inner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 80px;
	padding-top: 10px;
}

.site-name {
	color: #906030;
	display: block;
	font-size: 2.6rem;
	font-weight: 400;
}

.main-nav { font-size: 1.2rem; }

.navbar-nav .nav-link {
	border-radius: 0px;
	color: black;
	padding: 10px 40px;
}

.nav-item.active .nav-link,
.nav-link:hover,
.nav-link:focus {
	color: white;
	background-color: #906030;

}

.gold-text { color: #906030; }

.section {
	padding-top: 20px;
	padding-bottom: 100px;
}

.home-img-container {
	background-image: url('../img/tm-home-img.jpg');
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

.about-img-container { background-image: url('../img/tm-about-img.jpg');	}
.blog-img-container { background-image: url('../img/tm-blog-img.jpg'); }
.contact-img-container { background-image: url('../img/tm-contact-img.jpg'); }

.about-img-container,
.blog-img-container,
.contact-img-container {
	background-size: auto 200px;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}

.t-title {
	margin-bottom: 1rem;
	line-height: 1.4;
}

.subtitle {
	font-size: 1.4rem;
	max-width: 800px;
	margin: 0 auto 80px;
}

.content-box {
	max-width: 310px;
	margin: 0 auto;
	margin-bottom: 50px;
}

h3 { font-size: 1.65rem; }
h4 { 
	font-size: 1.4rem;
	line-height: 1.6;
}

.gold-btn {
	color: white;
	background-color: #906030;
	border: none;
	border-radius: 0px;
	display: inline-block;
	padding: 10px 30px;
}

.gold-btn:hover,
.gold-btn:focus {
	background-color: #3F2F2F;
	color: white;
	outline: none;
}

.gray-btn { background-color: #656565; }
.gray-btn:hover,
.gray-btn:focus {
	background-color: #515050;	
}

.margin-b-15 { margin-bottom: 15px; }
.margin-b-20 { margin-bottom: 20px; }
.margin-b-30 { margin-bottom: 30px; }
.margin-b-40 { margin-bottom: 40px; }
.margin-t-big { margin-top: 90px; }
.margin-t-mid { margin-top: 60px; }
.margin-t-small { margin-top: 30px; }

.text-link {
	color: #006699; 
	line-height: 2.8;
	text-decoration: underline;
}
.overflow-auto { overflow: auto; }
.small-font { font-size: 1rem; }
.related-post { margin-bottom: 40px; }
.related-post:last-child { margin-bottom: 0; }
.media-left { padding-right: 25px; }
.media-body {
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
}

.media-description { margin-bottom: 0; }

.t-2-col-right { padding-left: 20px; }

footer {
	color: #c6c6c6;
	background-color: #191919;
	background-image: url('../img/classic-pattern-bg.png');
	font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.footer-links-container { padding-left: 10px; }

.footer-link {
	color: #CCCC66;
	line-height: 2.8;
	text-decoration: underline;
}

.footer-link:hover,
.footer-link:focus {
	color: #CCCC66;
	text-decoration: none;
}
.footer-thumbnail { margin-bottom: 5px; }

.copyright-text {
	color: #999999; 
	margin-bottom: 0;
}

hr { border-top: 1px solid #CCCCCC; }
p { line-height: 1.9; }

.gray-bg {
	background-color: #CCCCCC; 
	color: black;
	padding: 30px 20px 20px;
}
.footer-content-box-title { margin-bottom: 30px; }

.img-post { margin-bottom: 30px; }

.aside-r { padding-left: 30px; }

.form-control {
	border-radius: 0;
	font-size: 1.1rem;
	padding: 0.75rem 1rem;
}

.form-control:focus { border-color: #906030; }

.search-form-control {

}

.input-group-btn {
    padding-left: 15px;
}

.form-description { margin-top: 30px; }
.default-form { padding-top: 20px; }

.contact-right { padding-left: 30px; }
.p-small { font-size: 1rem; }


.search-section {
    padding-top: 100px;
}

.fixed-img {
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
}



@media (max-height: 550px) {
    .search-section {
        padding-top: 50px;
    }
}


@media (max-height: 400px) {
    .search-section {
        padding-top: 0px;
    }
}


@media (max-width: 1199px) {
	.t-2-col-left { padding-right: 0; }
	.t-2-col-right { padding-left: 0; }
	.text-link {
		line-height: 2.2;
	}
	.container-fluid {
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media (max-width: 991px){

	.home-img-container {
		background:none;
		height: auto;
	}

	.subtitle { margin-bottom: 40px; }
	
	#navbar .navbar-nav .nav-link { padding: 10px 25px; }
	.media { max-width: 240px; }
	.media-left {
		display: block;
		margin-bottom: 20px;
	}

	.content-box { margin-bottom: 50px; }
	.text-link { line-height: 2.4; }

	.section {
	    padding-top: 50px;
	    padding-bottom: 60px;
	}

	.t-2-col-left, .t-2-col-right {
		margin: 0 auto;
		max-width: 660px; 
	}
	
	.margin-t-big { margin-top: 30px; }
	.media { max-width: 100%; }
	.media-left {
		display: table-cell;
		margin-bottom: 0;
	}

	.footer-content-box { margin-bottom: 40px; }

	.t-2-rows-md-swap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.t-2-rows-md-down-1 {
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;		
	}
	.t-2-rows-md-down-2 {
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.contact-right {
		padding-left: 15px; 
		padding-top: 40px;
	}
}

@media (max-width: 897px) {
	.gold-btn {
		padding: 10px 15px;
		font-size: 1rem;
	}
}

@media (max-width: 767px) {
	.main-nav {
		position: fixed;
		right: 0;
		top: 21px;
		z-index: 1000;
	}
	#navbar .navbar-nav .nav-item { float: none; }
	#navbar .navbar-nav .nav-link { padding: 10px 35px; }
	#navbar {
		background: white; 
		border-radius: 0px;
	}
	#navbar .navbar-nav .nav-item+.nav-item { margin-left: 0; }
	.navbar-toggler {
		background: white;
		border-color: #906030;
		color: #906030;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	.navbar-toggler:focus { outline: none; }
	.content-box { margin-bottom: 50px; }
	
	.t-2-col-left {
		padding-right: 0;
		max-width: 660px;
	}

	.t-2-col-right { padding-left: 0; }
	.margin-b-40 { margin-bottom: 25px; }
	
	.copyright-text { padding-top: 0; }
	.gray-bg { padding: 20px 20px 10px; }

	.t-2-rows-sm-swap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.t-2-rows-sm-down-1 {
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;		
	}
	.t-2-rows-sm-down-2 {
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.sm-m-b { margin-bottom: 20px; }
	.aside-r { padding-left: 15px; }
	.aside-container {
		max-width: 310px;
		margin: 0 auto;
	}

	.blog-post {	padding-bottom: 10px; }
	.content-box-contact {
		margin-top: 40px;
		margin-bottom: 0;
	}

	.contact-row-related-posts {	margin-top: 40px; }
}

@media (max-width: 543px) {
	.footer-links-container { padding-left: 0; }
	.xs-m-t { margin-top: 20px; }
	.gold-btn { padding: 10px 30px; }
}

@media(max-width: 510px) {
	.media { max-width: 240px; }
	.media-left {
		display: block;
		margin-bottom: 20px;
	}
		
	.section {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.subtitle { margin-bottom: 20px; }
	.margin-b-40 { margin-bottom: 15px; }
	.content-box { margin-bottom: 40px; }
	.margin-t-mid { margin-top: 30px; }
	.footer-content-box { margin-bottom: 40px; }
	.footer-content-box-title { margin-bottom: 15px; }
	.map-section { margin-top: 50px; }

	.contact-related-posts-container {
		max-width: 240px;
		margin-left: auto;
		margin-right: auto;
	}
}
